@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/mixins.less';

.WalletSidebar {
	
  &__walletbutton {
	margin-bottom: 10px;
	margin-top: 10px;
	align-content: center;
	align-items: center;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	display: flex;
	
	}
	&__actionbutton {
			width: 80%;
			font-size: 24px;
			height: 40px;
	}
}

.UserWalletContent {
	padding-top: 15px;
	.WalletSidebar {
		display: none;
		padding-bottom: 10px;
		@media (max-width: @small-bp) {
			
			padding-left: 5px;
			padding-right: 5px;
			display: block;
		}
	}
}
.nightmode{
	.WalletSidebar {
		background: @grey-nero;
		color: white;
	}
}
