@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/mixins.less';

.WalletSidebar {
	
  &__transfer {
		margin-bottom: 7px;
		margin-top:15px;
		width: 100%;
		.flex(center, center, row, nowrap);
  }

  &__power {
    display: flex;
    margin-bottom: 7px;
		

    & > :not(:last-child) {
      margin-right: 7px;
    }
	}
}

.UserWalletContent {
	padding-top: 15px;
	.WalletSidebar {
		display: none;
		padding-bottom: 10px;
		@media (max-width: @small-bp) {
			
			padding-left: 5px;
			padding-right: 5px;
			display: block
		}
	}
}
.nightmode{
	.WalletSidebar {
		background: @grey-nero;
		color: white;
	}
}
