@import (reference) '../styles/custom.less';

.About {
	// min-width: 150px;
	width: auto;
	margin-left: -11px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
    flex-direction: column;
    font-weight: 600;
    color: black;
    margin-bottom: 50px;
    margin-top: 25px;
    
    &__title {
        margin: 10px;
        font-weight: 700;
        font-size: 30px;
    }

    &__summaryimage {
        width: 100%;
    }

& .AboutList {


  & > li {
    margin-top: 15px;
    display: block;
          color: #99aab5;
    font-weight: 400;
    position: relative;
    color: #353535;
    font-size: 20px;
    margin-bottom: 15px;
    & > a {
      &:hover {
          color: red;
        }
  
      &:focus {
          text-decoration: none;
        }
  
        
    }
	
}
}
}
