@import (reference) '../styles/custom.less';

.Boards {
	width: auto;
	margin-left: -11px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
    flex-direction: column;
    font-weight: 600;
    color: black;

& .BoardList {
    margin-left: 20px;
  & > li {
    & > a {
    padding: 6px;
    display: block;
    color: #99aab5;
    font-weight: 500;
    position: relative;
    color: #353535;
    font-size: 24px;
    line-height: 2em;
    
    &:hover {
        color: red;
    }
  
    &:focus {
        text-decoration: none;
    }
  
        
    }
	
}
}
}
